<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
    <h5>
      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Concourse Github Issue Resource</a></strong>
    </h5>
    <h5>
      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">GroupUs</a></strong>
    </h5>
    <h5>
      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">TweetStream</a></strong>
    </h5>
    <h5>
      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">bundle update Can I Bump ? using Docker containers</a></strong>
    </h5>
    <h5>
      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Fitbit Ruby Wrapper</a></strong>
    </h5>
    <h5>
      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Pivotal Tracker Keyboard Shortcuts Chrome Extension</a></strong>
    </h5>
    <h5>
      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Deploy-mania (bosh-lite, bosh, concourse, cloud foundry, micropcf, nanocf, docker container, vm)</a></strong>
    </h5>
    </div>
  </div>
</div>
</section>
